.page-width {
  width: 100%;  
  max-width: 1248px;  
  padding-left: 12px;
  padding-right: 12px;
  margin: auto;
}

.header {
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 20px;
}
.header a {
  text-decoration: none;
  color: #fff;
}
.header a:hover {
  text-decoration: underline;
}
.header__nav ul {
  grid-gap: 15px;
}
.page-header {
  margin-bottom: 30px;
}
main {
  margin-top: 20px;
}

.posts,
.home-posts,
.posts-inline {
  display: flex;
  grid-gap: 10px;
  flex-wrap: wrap;
}
.featured-posts {
  padding-top: 20px;
}
.posts {
  padding-bottom: 15px;
}
.post-card {
  flex: 0 1 calc((100% - 20px) / 3);
  text-decoration: none;
}
.card-title a,
.card-body {
  color: #333;
  text-decoration: none;
}
.card-tags {
  padding-top: 15px;
}
.card-tags a {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
  text-decoration: none;
}
.page-with-sidebar {
  display: flex;
  grid-gap: 15px;
}
/* .page-with-sidebar > div:first-child .card-img-top {
  max-height: 150px;
  object-fit: cover;
  width: auto;
} */
.page-with-sidebar > div:last-child {
  flex: 3;
  border-left: 1px solid #80808033;
  padding-left: 15px;
}
.pagination {
  justify-content: center;
}
/*
.post-card-image-container {
  height: 230px;
  margin-bottom: 20px;
}
.post-card-image {
  max-width: 100%;
}
*/

.image-header {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  margin-bottom: 20px;
}
.image-header h1 {
  background-color: black;
  text-align: center;
  padding: 10px;
}
.image-header h1 small {
  display: block;
  font-size: 14px;
}
.post-header {
  margin-bottom: 20px;
}

.post-content img {
  max-width: 100%;
  height: auto;
}